<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Please log in to your GPT wrapper account. To create an account, please <a href="/login">contact the developers.</a></h1>
        <div id="main-form">
            <form>
                <input id="username" placeholder="Enter your username"></input>
                <input id="password" placeholder="Enter your password" type="passsword"></input>
                <button type="submit">Log in</button>
            </form>
        </div>
    </body>
</html>
