<!DOCTYPE html>
<html>
<head>
    <title>ChatGPT wrapper</title>
    <link href="/css/main.css" rel="stylesheet"></link>
</head>
<body>
    <h1>Welcome!</h1>
    <div id="main">
        <div id="messages"></div>
        <input id="input" type="text"></input>
    </div>
</body>
</html>
