<html>
    <head>
        <title>Payment Due</title>
        <link href="/css/payment_due.css" rel="stylesheet"></link>
    </head>
    <body>
        <h1>
            The records indicate that you have not paid the subscription fee in more than a month.
        </h1>
        <p>
            Please contact <a href="mailto:arthurrusaikin7@gmail.com">an administrator</a>
        </p>
    </body>
</html>